<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Command Repository</title>
        <meta name="description" content="Add stupid and silly commands here!">
        <meta name="author" content="NYXT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
        <style>            
            .separator {
                width: 100%;
                height: 1px;
                border-top: 1px solid #eee;
                margin-bottom: 1.5em;
            }
            
            #intro {
                background: #F9F9F9;
                padding-top: 4em;
                padding-bottom: 4em;
                border-bottom: 1px solid #eee;
                margin-bottom: 2em;
            }
            
            label > .subtitle {
                font-weight: 300;
                color: #999;
                float: right;
            }
            
            textarea {
                resize: vertical;
            }
        </style>
    </head>
    <body>
        <div id="intro">
            <div class="container">
                <div class="row">
                    <h1>Command Repository</h1>
                    <p>Use this to add basic commands to any INNBot (&amp; derivatives) that are configured to listen. This was built quickly using <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://flask-sqlalchemy.pocoo.org/">Flask-SQLAlchemy</a> and <a href="http://getskeleton.com/">Skeleton</a> for styling by <a href="https://nyxt.co">NYXT</a>. Don't try and break it, it isn't built to withstand breakages.</p>
                    <a class="button button-primary" href="/json">View JSON</a>
                    <a class="button" href="https://github.com/ImperialNewsNetwork/inn-bot#repositories">Check out INNBot's Repositories that make this possible!</a>
                    <a class="button" href="https://github.com/davidtwco/command-repository/issues">Report an issue with this site!</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>Add New Command</h2>
                <form action="/" method="POST">
                    <label for="command_name">
                        Command
                        <span class="subtitle">What command should the user run to get your response?</span>
                    </label>
                    <input class="u-full-width" type="text" name="command_name" placeholder="Command Name" required></input>
                    <label for="help_text">
                        Help Text
                        <span class="subtitle">What should be written next to the command in the `!help` listing.</span>
                    </label>
                    <textarea class="u-full-width" type="text" name="help_text" placeholder="Help Text" required></textarea>
                    <label for="response">
                        Response
                        <span class="subtitle">What should the bot respond with when the user has run the command?</span>
                    </label>
                    <textarea class="u-full-width" type="text" name="response" placeholder="Response" required></textarea>
                    <input class="button-primary" type="submit" value="Submit Command - may take up to 5 minutes to be noticed by bot."></input>
                </form>
            </div>
            <div class="row">
                <div class="separator"></div>
                <h2>View Commands</h2>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Help Text</th>
                            <th>Response</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for command in commands %}
                        <tr>
                            <td>{{ command.id }}</td>
                            <td>!{{ command.command_name }}</td>
                            <td>{{ command.help_text }}</td>
                            <td>{{ command.response }}</td>
                            <td><button class="button-primary" onclick="deleteCommand({{ command.id }})">Delete</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function deleteCommand(commandId) {
                var req = new XMLHttpRequest();
                req.open("DELETE", "/" + commandId);
                req.send();
                window.location.reload();
            }
        </script>
    </body>
</html>