<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Command Repository</title>
        <meta name="description" content="Add stupid and silly commands here!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Command Repository</h1>
        <form action="/" method="POST">
            <label for="command_name">Command Name</label>
            <input type="text" name="command_name" placeholder="Command Name" required></input>
            <label for="help_text">Help Text</label>
            <input type="text" name="help_text" placeholder="Help Text" required></input>
            <label for="response">Response</label>
            <input type="text" name="response" placeholder="Response" required></input>
            <button>Submit</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Help Text</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td>{{ command.command_name }}</td>
                    <td>{{ command.help_text }}</td>
                    <td>{{ command.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>