{% macro render_field(field, label_visible=true) -%}
    <div class="{% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}">
                {{ field.label.text }}{% if field.flags.required %}<span class="required">*</span>{% endif %}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <span class="error">{{ e }}</span>
                    {% endfor %}
                {% endif %}
                <span class="subtitle">{{ field.description }}</span>
            </label>
        {% endif %}
        {{ field(class_='u-full-width', **kwargs) }}
    </div>
{%- endmacro %}

{% macro render_form(form, action_url='/', action_text='Submit', class_='') -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {{ render_field(f) }}
            {% endfor %}
        {% endif %}
        <input type="submit" class="button-primary u-full-width" value="{{ action_text }}"></input>
    </form>
{%- endmacro %}