<h2>Current Commands</h2>
<p>Have a look at all of the commands that have already been added below - you can delete some if you don't like them too.</p>
<table class="u-full-width">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Help Text</th>
            <th>Response</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        <tr>
            <td>{{ command.id }}</td>
            <td>!{{ command.command_name }}</td>
            <td>{{ command.help_text }}</td>
            <td>{{ command.response }}</td>
            <td><a class="button button-primary u-full-width" href="/delete/{{ command.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>