<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Command Repository</title>
        <meta name="description" content="Add custom commands to any INNBot that is listening!">
        <meta name="author" content="NYXT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/skeleton.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="intro">
            <div class="container">
                <div class="row row-separator">
                    <h1>
                        Command Repository
                        <span>Built for use with INNBot, by NYXT.</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="one-third column">
                         <h3>How does this work?</h3>
                         <p><em>Command Repository</em> makes use of INNBot's repository command - this allows INNBot to fetch, every 5 minutes or so, a list of simple single-response commands from a website that it can use. Using this application, you'll be able to easily add and remove repository commands.</p>
                    </div>
                    <div class="one-third column">
                         <h3>How do I use it?</h3>
                         <p>It's easy. If you have INNBot running, just add our JSON link to your configuration. If you want to add a command, just fill in <em>Add a Command</em> form below and press <em>Submit</em>, you'll be up and running in no time at all*.</p>
                         <p><em>* "No time at all" is approximately 5 minutes.</em></p>
                    </div>
                    <div class="one-third column">
                         <h3>How was it built?</h3>
                         <p>INNBot was built usng <a href="https://nodejs.org/en/">NodeJS</a> and <a href="https://qeled.github.io/discordie/">Discordie</a> - a really nice wrapper for the Discord Official API - it's fully open-source and you can <a href="https://github.com/ImperialNewsNetwork/inn-bot">check that out here</a>. This Command Repository is an example application that demonstrates how you can make use of INNBot's repository functionality - it's built using <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://flask-sqlalchemy.pocoo.org/">Flask-SQLAlchemy</a> and <a href="http://getskeleton.com/">Skeleton</a> for styling.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-third column">
                         <a class="button u-full-width" href="https://github.com/ImperialNewsNetwork/inn-bot#repositories">Learn More</a>
                    </div>
                    <div class="one-third column">
                         <a class="button u-full-width" href="/json">JSON for INNBot</a>
                    </div>
                    <div class="one-third column">
                         <a class="button u-full-width" href="https://github.com/davidtwco/command-repository">Check out the source!</a>
                    </div>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash flash-{{category}}">
                    <div class="container">
                        <p>{{ message }}</p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        <footer>
            <div class="container">
                <p>Built for use with <a href="https://github.com/ImperialNewsNetwork/inn-bot">INNBot</a>, by <a href="https://nyxt.co">NYXT</a>.</p>
            </div>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>